@import url("https://fonts.googleapis.com/css?family=Playfair+Display+SC");
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans");

.about-photo {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  margin: 1rem;
}

.aboutP {
  vertical-align: right;
  margin: 1rem;
  padding: 7px;
  line-height: 118%;
  border-radius: 10px;
  font-family: "Alegreya Sans";
  background-color: #ababab;
  background-size: contain;
  scroll-behavior: smooth;
  overflow: scroll;
  height: 70%;
}

.equipmentP {
  vertical-align: right;
  width: 60%;
  margin-left: 2rem;
  margin-bottom: 10px;
  padding: 7px;
  line-height: 118%;
  border-radius: 10px;
  text-align: left;
  font-family: "Alegreya Sans";
  background-color: #ababab;
  background-size: cover;
}

.featuredLi {
  padding: 0.2rem;
  margin: 0.2rem;
}

.about-container {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 1fr;
  gap: 1rem;
}

@media (min-width: 500px) {
  main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1fr);
  }
}
