#page-wrap {
  text-align: center;
  overflow: auto;
}

.bm-item {
  display: inline-block;
  padding: 1rem 0;
  text-decoration: none;
  margin-bottom: 10px;
  color: black;
  font-weight: 700;
  transition: color 0.2s;
}

.bm-item:hover {
  color: olivedrab;
}

.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 24px;
  right: 36px;
  top: 38px;
}

.bm-burger-bars {
  background: black;
  border-radius: 2px;
  height: 14% !important;
}

.bm-burger-bars-hover {
  background: olivedrab;
  border-radius: 2px;
  height: 14% !important;
  opacity: 1 !important;
}

.bm-cross-button {
  height: 54px !important;
  width: 54px !important;
}

.bm-cross {
  background-color: black;
  height: 24px !important;
  width: 4px !important;
}

.bm-cross-button:hover .bm-cross {
  background-color: olivedrab;
}

.bm-menu-wrap {
  background-color: #ababab;
}

.bm-menu {
  background: #ababab !important;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  position: relative;
  height: calc(100vh+100px) !important;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  margin-top: 24px;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@media (min-width: 800px) {
  .bm-burger-button {
    display: none;
  }
}
