.gallery{
    display: grid;
    grid-template-columns: repeat(200px, 1fr);
}

.photoDiv{
    padding: .5rem;
    border: 2px solid black;
    height: auto;
    margin: 1rem;
}
.photo{
    width: 100%;
    height: 400px;
    object-fit: cover;
    padding: .4rem;
    cursor: pointer;
}

@media (min-width: 500px){
    .gallery{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 700px){
    .gallery{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
    

@media (min-width: 900px){
    .gallery{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.niceButton{
    background-color: transparent;
    transition: 0.5s;
    cursor: pointer;
    border: none;
}

.niceButton:hover{
    background-color: #4c694247 ;
}

.niceButton:active{
    background-color: #4c6942 ;
    transform: translateY(4px);

}

