@import url("https://fonts.googleapis.com/css?family=Playfair+Display+SC");
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans");

.title {
  font-family: "Playfair Display SC";
  font-size: xx-large;
  padding: 20px;
}


.hero-image {
  width: 70vw;
  position: fixed;
  border-radius: 8px;
}
