.hero-container {
  display: grid;
  place-items: center;
}

.hero-home {
  padding-top: 1rem;
  width: 60vw;
  height: 70vh;
  object-fit: cover;
}

.left-click {
  position: absolute;
  left: 1rem;
  font-size: 2rem;
}

.right-click {
  position: absolute;
  right: 1rem;
  font-size: 2rem;
}

.left-click:hover {
  position: absolute;
  left: 1rem;
  font-size: 2rem;
  color: #4c6942;
}

.right-click:hover {
  position: absolute;
  right: 1rem;
  font-size: 2rem;
  color: #4c6942;
}
