.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: #4c6942 solid;
  padding: 1rem;
}

.footerName {
  font-size: 1rem;
  color: #4c6942;
  margin-left: 1rem;
}
.icons {
  font-size: 1.5rem;
  color: #4c6942;
  margin-right: 1rem;
}

.bh {
  color: #4c6942;
}

.bh:hover {
  color: black;
}

.ins {
  color: #4c6942;
}

.ins:hover {
  color: black;
}
